:root {
  --primary-bg: #EB5E55 !important;
}

.login-page {
  padding: 0 10px 30px 10px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

.login-signin-txt {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-wrap: nowrap; 
}

.login-sub-txt {
  font-size: 0.875rem;
  color: #908E8E;
}

.login-input-container {
  max-width: 26.25rem;
  margin: 0 auto
}

.link {
  color: var(--primary-bg) !important;
  text-decoration: none !important;
}

.font-small {
  font-size: 0.875rem !important;;
}

.bold {
  font-weight: bold !important;
}

.login-svg {
  position: absolute;
  right: 0;
}

/* MUI Overrides */
.MuiButton-root {
  font-size: 0.875rem !important;
  text-transform: none !important;
  border-radius: 10px !important;
}

.MuiButton-outlined {
  color: #908e8e !important;
  border-color: #EEEEEE !important
}

.MuiButton-sizeLarge {
  height: 54px !important;
}

.MuiInputBase-root {
  border-radius: 10px !important;
}

@media screen and (max-width: 400px) {
  .login-signin-txt {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .login-svg {
    display: none;
  }
}

@media (orientation: portrait) {
  .login-svg {
    display: none;
  }
}